@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>

<hr />

<p>Find me at</p><br />

<a href="https://twitter.com/IDidGame">Twitter</a><br /><br />

<a href="https://gamejolt.com/@@IDidGame">Gamejolt</a><br />
<a href="https://ididgame.newgrounds.com/">Newgrounds</a><br />
<a href="https://www.kongregate.com/games/IDidGame">Kongregate</a><br />
<a href="https://ididgame.itch.io/">Itch.io</a><br /><br />

<a href="https://ldjam.com/users/ididgame/games">Ludum Dare</a><br />
<a href="http://ludumdare.com/compo/author/ididgame/">Ludum Dare Legacy</a><br />
<a href="https://alakajam.com/user/IDidGame">Alakejam</a><br />
