@model BasePageModels.CommentsPageBase

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<form method="post">
    <textarea placeholder="Enter comment here" class="form-control" name="NewComment.Text"></textarea>
    <span asp-validation-for="NewComment.Text" class="text-danger"></span><br />
    <input type="submit" asp-page-handler="Comment" class="btn btn-default" value="Comment" />
</form>
}

@foreach (var comment in Model.Comments)
{
    <form method="post">
        <input type="hidden" asp-for="@comment.Id"/>
        <h4>@comment.User.UserName</h4>
        <small>@comment.PublishDate</small>
        <div>@comment.Text</div>
        @if (comment.UserId == UserManager.GetUserId(User))
        {
            <input type="submit" asp-page-handler="DeleteComment" class="link-button" value="Delete"/>
        }
    </form>
}
