@page
@model IndexModel
@{
    ViewData["Title"] = "IDidGame";
}

<h2>Welcome</h2>

<hr />

<div class="titleGrid">
    <div class="titleGame">
        <h3>Latest Game</h3>
        @Html.Partial("Games/GamePartial", Model.Game)
    </div>
    <div class="titlePost">
        <h3>Latest Post</h3>
        @Html.Partial("Posts/PostPartial", Model.Post)
    </div>
    <div class="titleTwitter">
        <a class="twitter-timeline" data-height="650" data-theme="light" href="https://twitter.com/IDidGame?ref_src=twsrc%5Etfw">Tweets by IDidGame</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

