@page "tags:string"
@model PostsModel
@{
    ViewData["Title"] = "Posts";
}

<h2>@ViewData["Title"]</h2>

@if (User?.IsInRole("Admin") == true)
{
    <div><a asp-page="./EditPost">Add New Post</a></div>
}

<hr />

<div class="taggedList">
    <div class="taggedListTags">
        @Html.Partial("../TagsPartial", Model)
    </div>
    <div class="taggedListEntries">
        @if (Model.Posts.Count > 0)
        {
            @foreach (var post in Model.Posts)
            {
                @Html.Partial("PostPartial", post);
            }
        }
        else
        {
            <p>no posts yet</p>
        }
    </div>
</div>

