@page "{id:int}"
@model PostDetailsModel
@{
    ViewData["Title"] = Model.Post.Title;
}

<article>
    <h2>@Model.Post.Title</h2>
    <p>@Model.Post.Body</p>
</article>

<a asp-page="./posts">Back</a>

@Html.Partial("../CommentsPartial", Model)