body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.taggedList {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-areas: "content content tags";
    grid-gap: 50px;
}

.taggedListTags {
    grid-area: tags;
}

.taggedListEntry {
    grid-area: content;
}
.listEntry {

}

@media (min-width: 100px) {
    .titleGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "game" "post" "twitter";
        grid-gap: 50px;
    }
}
@media (min-width: 500px) {
    .titleGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "game twitter" "post twitter";
        grid-gap: 50px;
    }
}


.titleGame{
    grid-area: game;
}
.titlePost{
    grid-area: post;
}
.titleTwitter {
    grid-area: twitter;
}


.gameGrid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "image description";
    grid-gap: 5px;
}
.gameImage{
    grid-area: image;
}
.gameDescription{
    grid-area: description;
}