@page "{id:int?}"
@model EditGameModel
@{
    if (Model.IsNew)
    {
        ViewData["Title"] = "Add Game";
    }
    else
    {
        ViewData["Title"] = "Edit Game";
    }
}

<h2>@ViewData["Title"]</h2>

<div>
    <form asp-route="./Games" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Game.Name"></label>
            <input asp-for="Game.Name" class="form-control" />
            <span asp-validation-for="Game.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Game.Description"></label>
            @Html.TextAreaFor(m => m.Game.Description)
            <span asp-validation-for="Game.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Game.PublishDate"></label>
            <input asp-for="Game.PublishDate" class="form-control" />
            <span asp-validation-for="Game.PublishDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Game.Tags"></label>
            <input asp-for="Game.Tags" class="form-control" />
            <span asp-validation-for="Game.Tags" class="text-danger"></span>
        </div>
        @if (Model.IsNew)
        {
            <button type="submit" class="btn btn-default">Add</button>
        }
        else
        {
            <button type="submit" class="btn btn-default">Save</button>
        }
    </form>
</div>

@section Scripts
    {
    <script type="text/javascript" src="../../js/InitTinyMCE.js"></script>
}
