@page "tags:string"
@model GamesModel
@{
    ViewData["Title"] = "Games";
}

<h2>@ViewData["Title"]</h2>

@if (User?.IsInRole("Admin") == true)
{
    <div><a asp-page="./EditGame">Add New Game</a></div>
}

<hr />

<div class="taggedList">
    <div class="taggedListTags">
        @Html.Partial("~/Pages/TagsPartial.cshtml", Model)
    </div>
    <div class="taggedListEntries">
        @if (Model.Games.Count > 0)
        {
            @foreach (var game in Model.Games)
            {
                @Html.Partial("GamePartial", game);
            }
        }
        else
        {
            <p>no games yet</p>
        }
    </div>
</div>

