@page "{id:int}"
@model GameDetailsModel
@{
    ViewData["Title"] = Model.Game.Name;
}

<article>
    <h2>@Model.Game.Name</h2>
    <p>@Html.Raw(Model.Game.Description)</p>
</article>

@Html.Partial("../CommentsPartial",Model)